/* #heading {
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black
}

.logo {
  width: 8rem;
}

.nav-items>ul {
  font-size: 1.5rem;
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
  margin: 2.75rem 1rem;
  align-items: center;
}

/* .res-card { */
/* width : 200px;
   height: 300px; */
/* border: 1px solid black; */
/* } */

/* .res-card {
  width: 215px;
  color: black;
}

.res-card > div{
  max-width: min-content;
  overflow-wrap: break-word;
  
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-card>div {
  margin: 0.5rem;
}

.search {
  padding: 0.75rem
}

.res-logo {
  width: 200px;
}

.resto-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
 
}

.filter-btn {
  margin: 1rem;
  cursor : pointer;
}

.shimmer-container {
  display : flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.shimmer-card {
  height:400px;
  width: 215px;
  margin: 0.5rem;
  background-color: rgb(230, 229, 229);
}

.login {
  padding: 0 20px;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 46, 116);
}

.filter {
  display: flex;
}

.user-card {
  padding: 10px;
  border: 1px solid black;
} */ 


/* .res-card:hover{
  animation: hover-effect 2s ease;
} */

/* @keyframes hover-effect {
  to {
    transform: translateY(10vmax)
  }
} */

/* ep10 using tailwind so commented above code because we need to import the tailwind into our project file */

@tailwind base;
@tailwind components;
@tailwind utilities;
